{
    "presets": [
        "es2015",
        "react",
        "@babel/env",
        "@babel/react",
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "transform-class-properties"
    ]
}